/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 15px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	background-color: #fff;
	font-family: 'Lora', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4rem;
	overflow-x: hidden;
}

p {
	line-height: 2;
	margin-bottom: 2rem;
}

a,
a:active,
a:hover,
a:visited {
	color: #000;
}



.wrapper {
	width: 34rem;
}
@media (max-width: 850px) {
	.wrapper {
		width: 90%;
	}
}


/* MENU */

.menu {
	padding: 1.5rem 1rem;
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	float: left;
	margin-right: 1rem;
}

.menu a {
	color: #000;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: underline;
}

.menu img {
	width: 1.5rem;
}

.menu-bar-mobile {
	width: 100%;
	display: none;
	justify-content: flex-end;
}
.menu-bar-mobile img {
	width: 2rem;
	margin: 0.5rem 0.5rem 0.5rem 0;
}
.menu-mobile {
	width: 100%;
}
.menu-mobile ul {
	padding: 0 1.5rem;
}
.menu-mobile li {
	font-size: 1.5rem;
	line-height: 2;
}
.menu-mobile a {
	text-decoration: none;
}
.menu-mobile-line {
	border-bottom: 1px solid #d8d8d8;
}

@media (max-width: 850px) {
	.menu {
		display: none;
	}
	.menu-bar-mobile {
		display: flex;
	}
}
.header {
	font-size: 2rem;
	margin: 11rem 0 4rem;
	position: relative;
}
@media (max-width: 850px) {
	.header {
		font-size: 1.5rem;
		margin: 3rem 0 2rem;
	}
}


.frontpage-flower {
	width: 28rem;
	position: absolute;
	margin: -12rem 0 0 -4rem;
}
.frontpage-flower.mobile {
	width: 80%;
	position: inherit;
	margin: -1.5rem auto 0;
}

.order-now-button {
	color: #000;
	background-color: #d4b5f7;
	display: inline-block;
	padding: 1rem;
	text-decoration: none;
	border-radius: 2px;
	border: none;
}
.order-now-button:hover {
	background-color: #b28fda;
	cursor: pointer;
}

.booking-choices {
	font-style: italic;
}

form input,
form select,
form textarea {
	font-family: 'Lora', serif;
	width: 100%;
	height: 2rem;
	margin-bottom: 1rem;
}

form textarea {
	height: 5rem;
}

form button {
	font-family: 'Lora', serif;
}





.biblio-flower {
	width: 16rem;
	position: absolute;
	margin: -7rem 0 0 11rem;
}

.saloon-flower {
	width: 12rem;
	position: absolute;
	margin: -9rem 0 0 16rem;
}

.guidance-flower {
	width: 12rem;
	position: absolute;
	margin: -5rem 0 0 11rem;
}

.about-flower {
	width: 10rem;
	position: absolute;
	margin: -8rem 0 0 24rem;
}

.about-content-box {
	display: flex;
	margin-bottom: 3rem;
}

.about-fredrik,
.about-nette {
	width: 45%;
}

.about-content-box p {
	margin: 0 0 1rem 1rem;
}
@media (max-width: 850px) {
	.about-content-box p {
		margin: 1rem 2rem 0 0;
	}
	.about-fredrik,
	.about-nette {
		width: 80%;
		margin-top: 3rem;
	}
}

.sample-flower {
	width: 14rem;
	position: absolute;
	margin: -6rem 0 0 19rem;
}

.sample-matrix {
	display: flex;
	flex-wrap: wrap;
}

.sample-thumbnail {
	display: block;
	width: 25%;
}
@media (max-width: 850px) {
	.sample-thumbnail {
		width: 50%;
	}
}

.sample-thumbnail-img {
	width: 100%;
}

.order-flower {
	width: 12rem;
	position: absolute;
	margin: -4rem 0 0 12rem;
}





.mobile {
	display: none;
}
@media (max-width: 850px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

.hide {
	display: none;
}
