/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	background-color: #fff;
	font-family: 'Lora', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4rem;
}

p {
	line-height: 2;
	margin-bottom: 2rem;
}



.wrapper {
	width: 34rem;
}

nav {
	padding: 1.5rem 0;
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .logo {
	position: absolute;
	left: 3rem;
}

nav .logo img {
	width: 4rem;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li {
	float: left;
	margin-right: 1rem;
}

nav a {
	color: #000;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

nav img {
	width: 1.5rem;
}

.header {
	font-size: 2rem;
	margin: 11rem 0 4rem;
	position: relative;
}


.frontpage-flower {
	width: 28rem;
	position: absolute;
	margin: -12rem 0 0 -4rem;
}
